<div class="text-center container py-5 bg-secondary" style="background-color: #eee">
  <div class="row">
    <div class="col-lg-4 col-md-12 mb-4 text-reset" *ngFor="let car of cars">
      <div class="card">
        <div
          class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
          data-mdb-ripple-color="light"
        >
          <img
            *ngIf="car.images[0] == null"
            class="img-rounded w-100"
            style="height: 200px"
            src="{{ imagePath }}Uploads/Images/default.jpg"
          />
          <img
            *ngIf="car.images[0] != null"
            class="img-rounded w-100"
            style="height: 200px"
            src="{{ imagePath }}Uploads/Images/{{ car.images[0] }}.png"
          />
          <div class="card-body">
            <h5 class="card-title">
              {{ car.brandName }} {{ car.description }}
            </h5>
            <p class="card-text"></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Marka: </b>{{ car.carName }}</li>
            <li class="list-group-item"><b>Renk: </b>{{ car.colorName }}</li>
            <li class="list-group-item"><b>Fiyat/Gün: </b>{{ car.dailyPrice }}</li>
          </ul>
          <div class="card-body">
            <a href="#"
            (click)="setCurrentCar(car)"
            routerLink="/cars/cardetail/{{car.carId}}"
            class="card-link">Detayları görmek için tıklayınız..</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
